body{
    background-color: rgb(16, 119, 119);
}

hr{
    height: 10px;
    background-color: rgb(16, 16, 175);
    border: none;
    margin-left: 80px;
    margin-right: 80px;
}

div{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: purple;
    font-size: 32px;
    padding: 5px;
}

#big_div{
    display: flex;
    justify-content: space-around;
}

.one{
    color: purple;
    font-size: 32px;
    padding: 5px;
}

.two{
    background-color: rgb(16, 119, 119);
    text-align: center;
    font-size: 15px;
    color: white;
    padding: 8px;
    border-radius: 9px;
    border: 5px groove #2E549B; /* hex value */
}

#big_dev2{
    background-color: rgb(16, 119, 119);
    color: white;
    font-size: 15px;
    text-align: center;
}

img{
    width: 60px;
}

.priconne{
    width: 120px;
}

.items:hover{
    background-color: gray;
    opacity: 0.5;
}

a{
    width: 20%;
    text-align: center;
    text-decoration: none;
}

#button{
    background-color: rgb(16, 119, 119);
}

.button{
    background-color: rgb(72, 184, 50);
    border: blue;
    text-align: center;
    font-size: 32px;
    color: blue;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5px;
    border-radius: 5px;
    border: blue groove 5px;
    font-family: Arial, Helvetica, sans-serif;
}